body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div {
    color: black;
    font-weight: 800;
    font-size: 18px;
    margin-top: 8px;
}

nav {
    display: flex;
    flex-direction: column;
}

a {
    margin-top: 15px;
    text-decoration: none;
    color: #69696a;
    font-weight: 800;
    font-size: 18px;
} 

button {
    background-color: #000;
    color: white;
    border-radius: 15px;
    height: 37px;
    width: 100%;
    font-size: 15px;
    padding: 5px 5px 5px;
    margin-top: 25px;
}

.footer {
    width: 100%;
    justify-content: flex-start;
}

p {
    flex: 50%;
    border-left: 2px solid gray;
    color: #69696a;
    padding: 15px 10px;  
} 





@media only screen and (min-width: 768px) {

header {
    flex-direction: row;
} 

div {
    padding: 10px;
}

nav {
    flex-direction: row;
}

a {
    margin-right: 35px;
}

button {
    width: 110px;
    margin: 10px;
}

.footer{
    position: fixed;
    top: 90%;
    display: flex;
    justify-content: center;
    padding: 0;
}

h1 {
    margin-top: 100px;
    margin-left: 20px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px 10px 10px;
    position: relative;
}

p {
    flex: 50%;
    border-left: 2px solid gray;
    padding: 10px;
    color: #69696a;
}

#circlePink {
    height: 350px;
    width: 350px;
    background-color:rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    position: absolute;
    right: 180px;
    top: 5px;
}

#circlePurple {
    height: 180px;
    width: 180px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 25px;
}

#circleOrange {
    height: 250px;
    width: 250px;
    background-color:rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 130px;
}

}